<div class="advantages container">
    <ul class="row">
        <li class="col-sm-3 col-xs-12 products">
            <span>Широкий ассортимент <br> продукции</span>
        </li>
        <li class="col-sm-3 col-xs-12 best-prices">
            <span>Лучшие цены <br> система скидок и <br> отсрочка платежей</span>
        </li>
        <li class="col-sm-3 col-xs-12 consultants">
            <span>Квалифицированные <br> консультанты</span>
        </li>
        <li class="col-sm-3 col-xs-12 stock">
            <span>Складские услуги </span>
        </li>
    </ul>
</div>
