<div class="container">
    <div class="row">
        <article class="content col-md-12">
            <h1>Торговый дом ООО «ПРОГРЕСС» был образован для обеспечения материально-техническим снабжением,
                предприятий нефтегазового комплекса.</h1>
            <p>Многолетние связи с крупнейшими импортерами и заводами-производителями оборудования и инструмента в
                России и за рубежом, позволяют обеспечить конкурентоспособные цены, максимальное выполнение сложных
                заявок, гарантированное сертификатами качество и сервисное обслуживание.</p>

            <p>Безупречная деловая репутация, опыт и квалифицированный персонал позволяют нашей компании занимать
                устойчивое положение на занятых позициях и обладать значительным потенциалом развития.</p>

            <p>Наш коллектив имеет высококвалифицированных специалистов, отличается комплексным подходом к решению самых
                сложных и уникальных задач, максимально соответствует самым высоким требованиям наших Заказчиков.</p>

            <p>Специалисты Торгового дома «Прогресс», готовы обработать запрос в кратчайшие сроки и предоставить
                коммерческое предложение на выгодных условиях.</p>

            <ul class="row list-unstyled">
                <li class="col-md-4">
                    <h3>Широкий ассортимент продукции:</h3>
                    <p>Осуществляем плановое снабжение предприятий по широкому спектру товаров, используя собственные
                        складские базы, финансовые ресурсы и систему прямых поставок.</p>
                </li>
                <li class="col-md-4">
                    <h3>Выгодные условия:</h3>
                    <p>Предлагаем нашим клиентам лучшие цены, систему скидок, отсрочку платежа за счет налаженных
                        внутри региональных связей, финансовых возможностей, прямых контрактов с крупнейшими
                        заводами-изготовителями на поставку продукции.</p>
                </li>
                <li class="col-md-4">
                    <h3>Надежность:</h3>
                    <p>Гарантируем поставку только сертифицированных товаров, предоставляем гарантию производителя,
                        работаем с рекламациями.</p>
                </li>
            </ul>

            <h3>Удобство:</h3>

            <p>Мы считаем, что настало время, когда кто-то должен проявить особое уважение к требованиям служб снабжения
                предприятий. Для этого мы предлагаем удобный формат сотрудничества: информационная поддержка
                потребителя, помощь специалистов в выборе товаров, исполнение сложных и индивидуальных заказов.</p>

            <p>Мы заинтересованы в том, чтобы клиенты были довольны нашей работой, мы в кратчайший срок доставим
                заказанный товар до указанного заказчиком места.</p>

            <p>Работа в нашей фирме направлена не только на достижение финансовой выгоды. Мы хотим, чтобы наши заказчики
                были уверены, что рядом с ними есть партнер, на которого действительно можно положиться.</p>

            <p>Головной офис компании расположен в Москве.<br>
                Специалисты по логистике также работают в крупных торговых городах России, что позволяет в кратчайшие
                сроки отвечать потребностям Клиентов в товарах, имеющихся на российском рынке. Главными преимуществами
                Торгового дома «Прогресс» в секторе снабжения, являются: быстрые сроки исполнения заказов, снабжение
                продукцией.</p>
            <div class="row list-unstyled">
                <div class="col-md-6">
                    <h3>Комплексное снабжение предприятий со стороны Торгового дома «Прогресс» включает следующий
                        ассортимент:</h3>
                    <ul>
                        <li>Промышленное оборудование;</li>
                        <li>Буровое оборудование и материалы;</li>
                        <li>Гидравлическое оборудование;</li>
                        <li>Тяжелая техника и запчасти;</li>
                        <li>Строительные материалы и оборудование;</li>
                        <li>Поставка оборудования и материалов жизнеобеспечения
                            временных поселков и офисов;
                        </li>
                        <li>Спецодежда;</li>
                        <li>Импортные комплектующие к промышленному оборудованию;</li>
                        <li>Канцелярские товары;</li>
                        <li>Электробытовые приборы;</li>
                        <li>Офисная и бытовая техника;</li>
                        <li>Офисная мебель;</li>
                        <li>Медицинское оборудование и инструменты;</li>
                        <li>Средства связи и видеонаблюдения и т. д.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Наши специалисты разработают для вас наиболее выгодную транспортно-логистическую схему, в
                        которую входит:</h3>
                    <ul>
                        <li>Выбор типа транспортного средства;</li>
                        <li>Выбор вида транспортного средства;</li>
                        <li>Совместное планирование транспортных процессов со складскими и
                            производственными операциями;
                        </li>
                        <li>Совместное планирование транспортных процессов на различных
                            видах транспорта;
                        </li>
                        <li>Обеспечение технологического единства транспортно-складского
                            процесса;
                        </li>
                        <li>Определение рациональных маршрутов поставки.</li>
                    </ul>
                </div>
            </div>
            <p></p>
            <p>Одним из направлений видов деятельности является предоставления своим клиентам услуг транспортной
                логистики, оказание комплекса услуг, связанных с подготовкой и перемещением внешнеторговых и российских
                грузов автомобильным, морским, железнодорожным и авиационным транспортом.</p>

            <h3>Торговый дом «Прогресс» готов предложить также услуги по транспортно-экспедиторскому обслуживанию
                экспортно-импортных грузов:</h3>
            <ul>
                <li>Оформление документов;</li>
                <li>Внутрипортовое экспедирование грузов;</li>
                <li>Погрузо-разгрузочные работы;</li>
                <li>Временное хранение грузов;</li>
                <li>Сопровождение грузов.</li>
            </ul>
            <h2>Расчет стоимости грузовых перевозок</h2>

            <p>Основными критериями, составляющими основу расчета стоимости грузовых перевозок, являются направление
                грузоперевозки, характер перевозимого груза, его объем и вес. В связи с большим количеством вариантов
                перевозки грузов на внешнеторговых сообщениях и по территории РФ, расчет стоимости грузовых перевозок
                осуществляется индивидуально с учетом различных критериев.</p>

            <h2>Складские услуги</h2>

            <p>Торговый дом «Прогресс» предлагает своим клиентам услуги по хранению грузов и материалов на складах.
                Нашими клиентами являются крупные российские и зарубежные компании — заинтересованные в получении услуг
                ответственного хранения грузов, требующих максимальной точности, оперативности и высокого качества
                исполнения.</p>

            <p>Высококвалифицированный персонал, имеющий многолетний опыт работы с широким спектром наименований
                товаров, современное оборудование, автоматизированная адресная система учета обеспечат не только
                сохранность Вашего груза, но и его своевременную и качественную обработку в соответствии с пожеланиями
                клиентов.</p>

            <p> Благодаря консолидации товара на нашем складе в Москве и оперативной работе наших координаторов, Вы
                можете отправлять даже самый мелкогабаритный груз.<br>
                Экономия средств за недостающие килограммы; Упрощение процедуры оформления; Минимум дополнительной
                документации.</p>

            <p>Мы заинтересованы в долгосрочном и продуктивном сотрудничестве.</p>

        </article>
    </div>
</div>
