<footer class="container">
    <div class="row">
        <div class="copyright col-md-3 col-sm-6 col-xs-12">
            <a href="#" class="logo">
                <img src="img/logo.png" alt="TdProgress">
            </a>
            <p>© <span id="year"></span> TdProgress.ru — обеспечиваем материально-техническим снабжением, предприятия
                нефтегазовой отрасли.
            </p>
        </div>
        <div class="requisites col-md-3 col-sm-6 col-xs-12">
            ООО «ПРОГРЕСС»<br>
            ОГРН: 1167746176377<br>
            Адрес: 121351, Россия, г. Москва, ул. Ивана Франко, д. 41, стр. 4<br>
            Телефон: +7 (901) 743 59 50
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <span class="title">Комплектующие:</span>
            <ul class="list-unstyled">
                <li><a href="#">Электротехника</a></li>
                <li><a href="#">Гидравлика</a></li>
                <li><a href="#">Пневматика</a></li>
                <li><a href="#">Механика</a></li>
                <li><a href="#">Муфты</a></li>
                <li><a href="#">Подшипники</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <span class="title">Оборудование:</span>
            <ul class="list-unstyled">
                <li><a href="#">Вакуумное</a></li>
                <li><a href="#">Очистное</a></li>
                <li><a href="#">Компрессорное</a></li>
                <li><a href="#">Сварочное</a></li>
                <li><a href="#">Лабораторное</a></li>
            </ul>
        </div>
    </div>
</footer>

<div id="toTop"><span class="fa fa-angle-up" aria-hidden="true"></span>наверх</div>

<!-- call-back -->
<div class="modal fade" id="call-back" tabindex="-1" role="dialog" aria-labelledby="callBackLabel">
    <div class="modal-dialog" role="document">
        <form action="/" method="post" class="ajax_form modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="callBackLabel">Заказ звонка</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input-name" class="error_name"></label>
                    <input type="text" name="name" value="" class="form-control" id="input-name" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <label for="phone" class="error_phone"></label>
                    <input type="text" name="phone" value="" class="form-control" id="phone"
                           placeholder="Ваш номер телефона">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-primary">отправить</button>
            </div>
        </form>
    </div>
</div>

<!-- Application Form -->
<div class="modal fade" id="application-form" tabindex="-1" role="dialog" aria-labelledby="applicationFormLabel">
    <div class="modal-dialog" role="document">
        <form action="/" method="post" class="ajax_form modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="applicationFormLabel">Форма отправки заявки</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name" class="error_name2"></label>
                    <input type="text" class="form-control" id="name" placeholder="Ваше Ф.И.О.">
                </div>
                <div class="form-group">
                    <label for="email" class="error_email"></label>
                    <input type="email" class="form-control" id="email" placeholder="Ваш email">
                </div>
                <div class="form-group">
                    <label for="phone2" class="error_phone2"></label>
                    <input type="text" class="form-control" id="phone2" placeholder="Ваш номер телефона">
                </div>
                <div class="form-group">
                    <label for="text-field" class="error_textfield"></label>
                    <textarea rows="7" id="text-field" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-primary">отправить</button>
            </div>
        </form>
    </div>
</div>

<!-- Application Form -->
<div class="modal fade" id="send-application" tabindex="-1" role="dialog" aria-labelledby="sendApplicationLabel">
    <div class="modal-dialog" role="document">
        <form action="/" method="post" class="ajax_form modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sendApplicationLabel">Форма отправки заявки</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name2" class="error_name2"></label>
                    <input type="text" class="form-control" id="name2" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <label for="email2" class="error_email2"></label>
                    <input type="email" class="form-control" id="email2" placeholder="Ваш email">
                </div>
                <div class="form-group">
                    <label for="company" class="error_company"></label>
                    <input type="text" class="form-control" id="company" placeholder="Название Вашей компании*">
                </div>
                <div class="form-group">
                    <label for="phone3" class="error_phone3"></label>
                    <input type="text" class="form-control" id="phone3"
                           placeholder="Ваш телефон или факс с кодом города*">
                </div>
                <div class="form-group">
                    <label for="text-field2" class="error_textfield2"></label>
                    <textarea rows="7" id="text-field2" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-primary">отправить</button>
            </div>
        </form>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/lib.js"></script>
<script src="js/main.js"></script>

</body>
</html>
