<div class="have-questions">
    <div class="container">
        <div class="row">
            <div class="left col-lg-7 col-md-8 col-sm-7 col-lg-offset-1">
                <div>
                    Остались вопросы? Звоните!<br>
                    Наши специалисты помоут вам.
                </div>
                <a href="tel:+7(901)7435950">+7 (901) 743 59 50</a>
            </div>
            <div class="right col-lg-3 col-md-3 col-sm-4 col-lg-offset-1 col-md-offset-1 hidden-xs">
                <button class="btn" data-toggle="modal" data-target="#send-application">отправить запрос</button>
            </div>
        </div>
    </div>
</div>
