<header>
    <div class="top-panel">
        <div class="container">
            <div class="row">
                <div class="logo-area">
                    <a href="#" class="logo">
                        <span>Торговый дом</span>
                        <img src="img/logo.png" alt="ООО «ПРОГРЕСС»" title="ООО «ПРОГРЕСС»">
                    </a>
                    <span>Обеспечения предприятий</span>
                    <span class="text-nowrap">нефтегазового комплекса</span>
                </div>
                <nav class="col-md-9 col-sm-8 col-xs-12">
                    <div class="menu-toggle logo">Меню сайта</div>
                    <ul class="menu">
                        <li class="active"><span class="fa fa-home"></span></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Производители</a></li>
                        <li><a href="#">Спецпредложения</a></li>
                        <li><a href="#">Оборудование</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <div class="contacts col-md-3 col-sm-4 col-xs-12">
                    <a href="tel:+7(901)7435950" class="phone"><span class="fa fa-mobile"></span> +7 (901) 743 59 50</a>
                    <div class="address">
                        <span class="fa fa-map-marker"></span>
                        г. Москва,
                        ул. Ивана Франко, д. 41, стр. 4
                    </div>
                    <button class="call-back btn" data-toggle="modal" data-target="#call-back">
                        <span class="fa fa-phone-square"></span> Заказать обратный звонок
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
