<div class="info-panel">
    <div class="container">
        <div class="row">
            <div class="price col-md-2 col-sm-4 hidden-xs">
                <button class="btn" data-toggle="modal" data-target="#application-form">
                    <span class="fa fa-money" aria-hidden="true"></span> Узнать цену
                </button>
            </div>
            <div class="text col-md-6 visible-md visible-lg">
                <p>Торговый дом «ПРОГРЕСС» обеспечивает материально-техническим снабжением, предприятия нефтегазовой
                    отрасли.</p>
            </div>
            <form action="#" class="search col-md-4 col-sm-8 col-xs-12">
                <input type="search" id="search" class="form-control" placeholder="Поиск по сайту">
                <button class="btn">Поиск</button>
                <label for="search" class="fa fa-search" aria-hidden="true"></label>
            </form>
        </div>
    </div>
</div>
