<section class="producers container">
    <h2 class="title text-center"><span>Популярные производители</span></h2>
    <div class="wrapping">
        <div id="producers" class="owl-carousel">
            <div class="item"><img src="img/brand/abb.jpg" alt=""></div>
            <div class="item"><img src="img/brand/ac-motoren.png" alt=""></div>
            <div class="item"><img src="img/brand/balluff.jpg" alt=""></div>
            <div class="item"><img src="img/brand/ceccato.jpg" alt=""></div>
            <div class="item"><img src="img/brand/danfoss_mini.jpg" alt=""></div>
            <div class="item"><img src="img/brand/duplomatic.jpg" alt=""></div>
            <div class="item"><img src="img/brand/fanuc_logo.png" alt=""></div>
            <div class="item"><img src="img/brand/festo.jpg" alt=""></div>
            <div class="item"><img src="img/brand/heidenhain.jpg" alt=""></div>
            <div class="item"><img src="img/brand/hydac.jpg" alt=""></div>
            <div class="item"><img src="img/brand/indramat.jpg" alt=""></div>
            <div class="item"><img src="img/brand/kracht.jpg" alt=""></div>
            <div class="item"><img src="img/brand/ksb.jpg" alt=""></div>
            <div class="item"><img src="img/brand/ktr.jpg" alt=""></div>
            <div class="item"><img src="img/brand/mahle.jpg" alt=""></div>
            <div class="item"><img src="img/brand/mann.jpg" alt=""></div>
            <div class="item"><img src="img/brand/mitsubishi.jpg" alt=""></div>
            <div class="item"><img src="img/brand/olaer.jpg" alt=""></div>
            <div class="item"><img src="img/brand/orsta.jpg" alt=""></div>
            <div class="item"><img src="img/brand/parker_logo_1.jpg" alt=""></div>
            <div class="item"><img src="img/brand/rexroth.jpg" alt=""></div>
            <div class="item"><img src="img/brand/sauter_logo_small.jpg" alt=""></div>
            <div class="item"><img src="img/brand/sew.jpg" alt=""></div>
            <div class="item"><img src="img/brand/siemens.jpg" alt=""></div>
            <div class="item"><img src="img/brand/vickers.jpg" alt=""></div>
        </div>
        <ul class="control">
            <li class="prev fa fa-angle-left" aria-hidden="true"></li>
            <li class="next fa fa-angle-right" aria-hidden="true"></li>
        </ul>
    </div>
</section>
