html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  line-height: 1.42857143;
  background-color: #ffffff;
  color: #474747;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  @include font-size(16px);
}

input[type=file].form-control {
  padding: 3px;
}

a {
  color: #0dbae8;
  text-decoration: none;
  transition: all .4s ease;
}

a:hover, a:focus {
  color: #0980a0;
}

img {
  max-width: 100%
}

h1 {
  @include to('xs') {
    font-size: 25px;
  }
}

label {
  @include font-size(14px);
}

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-bold {
    font-weight: 700;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
}

.form-control::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form-control::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form-control:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form-control:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-control:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-control:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-control:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

button {
  &:focus,
  &:active {
    outline: 0;
  }
}

.btn {
  padding: 8px 12px;
  border: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 0;
  user-select: none;
  transition: all .4s ease;
  &-primary {
    color: #ffffff;
    background-color: #0dbae8;
    &:hover {
      background-color: transparent;
      color: #0ca7d0;
      outline: 1px solid #0ca7d0;
    }
  }
}

.container {
  height: 100%;
  .row {
    height: 100%;
  }
}

.content {
  margin-bottom: 40px;
}
