.news-area {
  margin-bottom: 50px;
  .title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
  }
  .wrap {
    padding: 0 15px 15px;
    border: 1px solid #eaeaea;
    text-align: center;
  }
  .date {
    top: -15px;
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    color: #ff6100;
    background-color: #fff;
    border: 1px solid #eaeaea;
    .fa {
      margin-right: 5px;
    }
  }
  .title-news {
    height: 50px;
    margin: 0 -15px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #eaeaea;
  }
  p {
    padding-top: 10px;
    text-align: left;
  }
  @include to('s') {
    .col-xs-12 {
      margin-bottom: 40px;
    }
  }
}
